OSB/Order/wsdl/Order.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions  xmlns:tns="http://www.noisyroads/Order/" name="Order" targetNamespace="http://www.noisyroads/Order/" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.noisyroads/Order/" xmlns:pref="http://www.noisyroads.com/Order">


    	<xsd:import schemaLocation="../xsd/Order.xsd" namespace="http://www.noisyroads.com/Order"></xsd:import>
    	<xsd:element name="request" type="pref:Order"></xsd:element>
    	<xsd:element name="response" type="tns:status"></xsd:element>

    	<xsd:simpleType name="status">
    		<xsd:restriction base="xsd:string"></xsd:restriction>
    	</xsd:simpleType>
    
    	<xsd:complexType name="Order">
    		<xsd:sequence>
    			<xsd:element ref="pref:order"></xsd:element>    		</xsd:sequence>
    	</xsd:complexType>
    	
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="receiveOrderRequest">
    <wsdl:part element="tns:request" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="receiveOrderResponse">
    <wsdl:part element="tns:response" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Order">
    <wsdl:operation name="receiveOrder">
      <wsdl:input message="tns:receiveOrderRequest"/>
      <wsdl:output message="tns:receiveOrderResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderDirectBinding" type="tns:Order">
    <soap12:binding style="document" transport="http://xmlns.oracle.com/soa/direct"/>
    <wsdl:operation name="receiveOrder">
      <soap12:operation soapAction=""/>
      <wsdl:input>
        <soap12:body parts="payload" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="payload" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port binding="tns:OrderDirectBinding" name="OrderDirectBindingPort">
      <soap12:address location="t3://www.noisyroads.com/Order"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
